/* Michael DeVito II */

body {
    display: flex;
}

.about_me {
    color: white;

    margin: 2.5%;
    padding: 1.5% 2.5%;
}

.about_images {

    background-color: rgba(5,34,68,0.5);
    align-items: center;
    justify-content: center;
    padding: 2.5% 0;
    margin: 0 5%;
    display: flex;
    max-width: 100%;
    overflow: scroll;
}

.sidephoto {
    width: 200px;
    padding: 2%;
    margin: 0 4% 1% 4%;
    background-color: rgba(5,34,68,0.7);
}

.mainphoto {
    width: 300px;
    padding: 2%;
    margin: 0 4% 1% 4%;
    background-color: rgba(5,34,68,0.7);
}

.about_text {
    padding: 1% 5% ;
    margin: 2.5% 5% 0 5%;
    background-color: rgba(5,34,68,0.5);
}

.about_text h1 {
    text-align: center;
}

.about_text p {

}