.resources_title {
    text-align: center;
    margin: 4% 20% 0 20%;
    padding: 0.5% 0;
    background-color: rgba(5,34,68,0.7);
}

.resource {
    float: left;
    width: 60%;
    padding: 3% 5%;
    padding-left: 20%;
    display: block;
}

.resource_image {
    float: left;
    padding: 5%;
    padding-bottom: 0;
    opacity: 1;
}

.resource_image img {
    width: 100px;
    border-radius: 0;
}

.resource_text {
    background-color: rgba(5,34,68,0.5);
    padding: 5%;
}

.resource_text p {
    padding-top: 3%;
}

.resources_footer {
    text-align: center;
    margin: 105% 20% 5% 20%;
    padding: 0.5% 0;
    background-color: rgba(5,34,68,0.7);
    height: 100px;
}