/*
Deep Blue #031930
Dark Blue #223A59
Blue #3684D8
Light Blue #B3D6F9
Light Blue #758BA5
Gray #D1DDED
*/

body {
    background-image: url("../media/background.png");
    background-repeat: repeat;
    background-color: #031930;
}

.header {
    /*background-color: brown;*/
    padding-bottom: 3%;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    text-decoration: underline;
}

.header a:active {
    text-decoration: underline;
    color: #031930;
}

.name_header {
    background-color: #223A59;
    float: left;
    padding: 0.5% 2%;
    font-size: 18px;
}

.icons_header {
    background-color: #223A59;
    text-align: right;
    word-spacing: 700%;
    font-size: 18px;
    padding: 0.5% 2%;
}

.introduction {
    float: left;
    width: 60%;
    padding: 5% 5%;
    display: flex;
}


.intro_image {
    background-color: rgba(5,34,68,0.5);
    float: left;
    padding: 7% 0 7% 8%;
    opacity: 1;
}

.intro_image img {
    width: 300px;
    height: 100%;
    border-radius: 55%;
}

.intro_text {
    background-color: rgba(5,34,68,0.5);
    padding: 5%;
}

.sidebar {
    /*background-color: greenyellow;*/
    float: right;
    width: 20%;
    padding: 5% 5%;
    display: flex;
}

.featured_project {
    background-color: #223A59;
    padding: 15%;
}

.project_image {
    background-color: #3684D8;
}

.project_description {
    background-color: #3684D8;
}

.app_library {
    /*background-color: yellow;*/
    padding: 5% 10% 5% 15%;
    float: left;
    display: flex;
}

.apps {
    text-align: center;
    word-spacing: 100px;
}