/* Michael DeVito II */

.poppins-font {
    font-family: Poppins;
    color: white;
}
.roboto-font {
    font-family: Roboto;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../media/background.png");
    background-repeat: repeat;
    background-color: #0B131E;
}

.header_background {
    padding: 0;
    margin: 0;
}

.header_background img {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%; /* Make it span the full width */
    position: fixed;/* Ensure the image covers the entire div */
    height: 3%;
    z-index: 3;
}

.header {
    padding-bottom: 0%;
    margin: 1%;
    position: fixed;
    width: 98%;
    background-color: #223A59;
    z-index: 3;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    text-decoration: underline;
}

.header a:active {
    text-decoration: underline;
    color: #031930;
}

.name_header {
    background-color: #223A59;
    float: left;
    padding: 0.5% 2%;
    font-size: 18px;
}

.icons_header {
    background-color: #223A59;
    text-align: right;
    font-size: 18px;
    padding: 0.5% 2%;
}

.icons_header a {
    padding-left: 1%;
}

#current {
    text-decoration: underline;
}

.main_content {
    padding-top: 3%;
    z-index: 1;
}

.introduction {
    float: left;
    width: 60%;
    padding: 3% 5%;
    display: flex;
}


.intro_image {
    background-color: rgba(5,34,68,0.5);
    float: left;
    padding: 7% 0 7% 8%;
    opacity: 1;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro_image img {
    max-width: 300px;
    height: auto;
    border-radius: 55%;
}

.intro_text {
    background-color: rgba(5,34,68,0.5);
    padding: 5%;
}

.intro_text img {
    padding-top: 15%;
    width: 150px;
}

.intro_text #linkedin {
    padding-left: 2%;
}

.sidebar {
    float: right;
    width: 20%;
    padding: 3% 5% 5% 5%;
    display: flex;
}

.featured_project {
    background-color: rgba(5,34,68,0.5);
    padding: 5%;
    flex: auto;
}

.project_image {
    background-color: rgba(5,34,68,0.7);
    padding: 2%;
    text-align: center;
    flex: auto;
}

.project_image img {
    width: 300px;
    height: 100%;
    padding: 1%;
    max-width: 100%;
}

.project_description {
    background-color: rgba(5,34,68,0.7);
    padding: 5%;
}

.project_description p {
    line-height: 25px;
}

.project_description h3 {
    line-height: 10px;
    text-align: center;
}

.project_description a {
    color: #223A59;;
    text-decoration: none;
    text-align: center;
}

.project_description a:hover {
    text-decoration: underline;
}

.project_description a:active {
    text-decoration: underline;
    color: #031930;
}

.app_library {
    padding: 2% 2% 2% 5%;
    float: left;
    display: flex;
    width: 60%;
}

.apps {
    background-color: rgba(5,34,68,0.5);
    text-align: center;
    height: 100px;
    width: 100%;
    padding: 1% 3% 7% 3%;
}

.apps h2 {
    padding: 0 0 1% 0;
    margin: 0;
}

.apps a {
    margin: 0 2.5%;
}

a.buttonJava {
    height: 100px;
    background-image: url(../media/apps/java.png);
    text-indent: -9999px;
    display: inline-block;
    width: 100px;
    background-position: 0px 0px;
}

a.buttonJava:hover {
    background-position: 0px -100px;
}

a.buttonPython {
    height: 100px;
    background-image: url(../media/apps/python.png);
    text-indent: -9999px;
    display: inline-block;
    width: 100px;
    background-position: 0px 0px;
}

a.buttonPython:hover {
    background-position: 0px -100px;
}

a.buttonHTML {
    height: 100px;
    background-image: url(../media/apps/html.png);
    text-indent: -9999px;
    display: inline-block;
    width: 100px;
    background-position: 0px 0px;
}

a.buttonHTML:hover {
    background-position: 0px -100px;
}

a.buttonCSS {
    height: 100px;
    background-image: url(../media/apps/css.png);
    text-indent: -9999px;
    display: inline-block;
    width: 100px;
    background-position: 0px 0px;
}

a.buttonCSS:hover {
    background-position: 0px -100px;
}

a.buttonSQL {
    height: 100px;
    background-image: url(../media/apps/sql.png);
    text-indent: -9999px;
    display: inline-block;
    width: 100px;
    background-position: 0px 0px;
}

a.buttonSQL:hover {
    background-position: 0px -100px;
}

footer {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-right: 1%;
}

footer a {
    color: white;
}

