/* Michael DeVito II */

.page-layout {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "terminal content"
        "footer footer";
    min-height: 100vh;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}